#root {
  width: 100%;
}

.container {
  width: 100%;
  padding: 20px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-filter {
  display: flex;
  flex-direction: row;
}

:root {
  --callout-background-color: #000000;
}

.userStoryClosed {
  background-color: #7eb179;
}

.userStoryNotClosed {
  background-color: #ff8f8f;
}

.noWrapColumn {
  max-width: 100%;
  white-space: nowrap;
}

.column-centered {
  text-align: center;
}
