.header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header_breadcrumbs {
  width: 100%;
  margin-bottom: 20px;
}

.header_content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}